@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background: var(--color-3);
}
.header__top{
    position: relative;
    left: 64px;
    top: 64px;
    width: 531px;
}
.header__top h1{
    font-family: "Avenir-Heavy";
    font-size: 88px;
    color: var(--color-2);
    line-height: 104px;
}
.section__box{
    max-width: 1312px;
    position: relative;
    top: 150px;
}
.div__number{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.div__number h2{
    padding-right: 418px;
    padding-left: 64px;
    font-family: "Avenir-Heavy";
    font-size: 32px;
    color: var(--color-4);
    display: flex;
    flex-direction: column;
}
.div__description{
    display: flex;
    flex-direction: row;
    width: 1312px;
}
.div__description p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Avenir-Roman";
    font-size: 24px;
    color: var(--color-1);
    width: 390px;
}
.div__photo{
    display: flex;
    justify-content: left;
}
.div__photo img{
    width: 400px;
    padding: 54px;
}