@import url(../css/variablesPage8.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
main{
    display: flex;
    flex-wrap: nowrap;
    background: linear-gradient(to right bottom, var(--color-5), var(--color-4));
    background-repeat: no-repeat;
}
.header__hero{
    padding-left: 64px;
    padding-top: 64px;
}
.header__hero img{
    width: 656px;
    height: 861.5px;   
}
.section__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 169px;
    padding-right: 64px;
}
.section__text h1{
    font-family: "WorkSans-Bold";
    font-size: 88px;
    color:var(--color-1);
    line-height: 104px;
    width: 487px;
}
.section__text p{
    font-family: "WorkSans-Light";
    font-size: 24px;
    color:var(--color-1);
    line-height: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 487px;
}
.section__text a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "WorkSans-Medium";
    font-size: 32px;
    color:var(--color-3);
    text-decoration: none;
    background: var(--color-2);
    border-radius: 36px;
    width: 231px;
    height: 82px;
}