@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background: var(--color-3);
}
.header__top{
    padding-top: 64px;
    padding-left: 64px;
    width: 631px;
}
.header__top h1{
    font-family: "Avenir-Heavy";
    font-size: 88px;
    color: var(--color-2);
    line-height: 104px;
}
.section__box{
    padding-top: 69px;
}
.div__number{
    display: flex;
    flex-direction: row;
    padding-left: 64px;
    gap: 10px;
}
.div__number h2{
    width: 390px;
    font-family: "Avenir-Heavy";
    font-size: 32px;
    color: var(--color-4);
}
.div__description{
    display: flex;
    flex-direction: row;
    gap: 56px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 4px;
    padding-bottom: 24px;
}
.div__description p{
    width: 390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Avenir-Roman";
    font-size: 21px;
    color: var(--color-1);
}
.div__photo{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 64px;
}
.div__photo img{
    width: 370px;
}