:root{
    --color-1: hsla(0, 0%, 15%, 0.800);
    --color-2: #252525;
    --color-3: #FFFFFF;
    --color-4: hsla(0, 0%, 15%, 0.450);
    --color-5: #EE5E5A;
    --color-6: #B3CFDD;
    --color-6: #DBAF64;
}
@font-face {
    font-family: "Times-Bold";
    src: url(../storage/font/times/Typography\ Times\ Bold.ttf);
}
@font-face {
    font-family: "Times-Regular";
    src: url(../storage/font/times/Typography\ Times\ Regular.ttf);
}
@font-face {
    font-family:"Poppins-Regular" ;
    src: url(../storage/font/poppins/Poppins-Regular.ttf);
}