:root{
    --color-1: #FFFFFF;
    --color-2: #232323;
    --color-3: #6BDFDA;
    --color-4: #9AD7F3;
    --color-5: #FEC3C7;
    --color-6: #2F2F2F;
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(../storage/font/poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../storage/font/poppins/Poppins-Regular.ttf);
}
