:root{
    --color-1: #FFFFFF;
    --color-2: #D9D9D9;
    --color-3: #010625;
    --color-4: #01062D;
}
@font-face {
    font-family: "Lato-Bold";
    src: url(../storage/font/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: "Lato-Medium";
    src: url(../storage/font/Lato/Lato-Medium.ttf);
}
@font-face {
    font-family: "Lato-Regular";
    src: url(../storage/font/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato-ExtraBold";
    src: url(../storage/font/Lato/Lato-ExtraBold.ttf);
}
@font-face {
    font-family: "Lato-Light";
    src: url(../storage/font/Lato/Lato-Light.ttf);
}