<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 11</title>
    <link rel="stylesheet" href="../css/stylePage11.css">
</head>
<body>
    <header class="header__container">
        <div class="div__container">
            <h1>New designs New inspirations</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            <a href="#">Explore</a>
        </div>
        <article class="article__rectangle">
            <div class="div__rectangle-1"><img src="../storage/img/Rectangle-1.png" alt=""></div>
            <div class="div__rectangle-2"><img src="../storage/img/Rectangle-2.png" alt=""></div>
        </article>
    </header>
    <section class="section__container">
        <article class="article__cloud">
            <div class="div__box-1">
                <img src="../storage/img/cloud.svg">
                <h2>Title 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="div__box-2">
                <img src="../storage/img/cloud.svg">
                <h2>Title 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="div__box-3">
                <img src="../storage/img/cloud.svg">
                <h2>Title 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </article>
    </section>
</body>
</html>