<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 26</title>
    <link rel="stylesheet" href="../css/stylePage26.css">
</head>
<body>
    <main class="main">
        <article class="article__container">
            <div class="div__container">
                <h1>Wake up your taste buds with this <strong>juicy bite</strong></h1>
                <div class="div__hamburguers">
                    <img src="../storage/img/Ellipse-1.svg">
                    <img src="../storage/img/Ellipse-2.svg">
                    <img src="../storage/img/Ellipse-3.svg">
                    <img src="../storage/img/Ellipse-4.svg">
                    <img src="../storage/img/Ellipse-5.svg">
                    <img src="../storage/img/Ellipse-6.svg">
                    <img src="../storage/img/Ellipse-7.svg">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus.</p>
                <a href="#">Explore the menu</a>
            </div>
            <section class="section__bottom">
                <div class="div__bottom">
                    <h2>From farm to table</h2>
                </div>
                <div class="div__bottom">
                    <h2>100% grass-feed beef</h2>
                </div>
                <div class="div__bottom">
                    <h2>100% organic & natural</h2>
                </div>
            </section>
        </article>
    </main>
</body>
</html>