<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 17</title>
    <link rel="stylesheet" href="../css/stylePage17.css">
</head>
<body>
    <main class="main">
        <section class="section__top">
            <article class="article__left">
                    <img src="../storage/img/Frame-wave.png" alt="">
                    <img src="../storage/img/Group.png" alt="">
            </article>
            <article class="center">
                <h1>Your ultimate fashion outfits</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
                <a href="#">Explore </a>
            </article>
            <article class="article__right">
                <img src="../storage/img/Group.png" alt="">
                <img src="../storage/img/Frame-wave.png" alt="">
            </article>
        </section>
        <section class="section__bottom">
            <article class="article__bottom">
                <div class="div__box-1">
                    <h2>Exclusive gifts. Insider access. Special events.</h2>
                    <img src="../storage/img/Rectangle-17.png" alt="">
                    <img src="../storage/img/left.png" alt="">
                </div>
                <div class="div__box-2">
                    <img src="../storage/img/Frame-c2.png" alt="">
                    <img src="../storage/img/Frame-cb2.png" alt="">
                </div>
                <div class="div__box-3">
                    <img src="../storage/img/Middle.png">
                </div>
                <div class="div__box-4">
                    <img src="../storage/img/Frame-c4.png" alt="">
                    <img src="../storage/img/Frame-cb4.png" alt="">
                </div>
                <div class="div__box-5">
                    <img src="../storage/img/right.png" alt="">
                    <h2>Beauty Fashion Culture</h2>
                    <img src="../storage/img/Rectangle-17.png" alt="">
                </div>
            </article>
        </section>
    </main>
</body>
</html>