<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 14</title>
    <link rel="stylesheet" href="../css/stylePage14.css">
</head>
<body>
    <main class="main">
        <section class="section__box">
            <div class="div__top">
                <h1>Listen to yourself Follow your heart</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                <a href="#">Download the App</a>
            </div>
            <article class="article__container">
                <div class="div__bottom">
                    <h2>4.9</h2>
                    <img src="../storage/img/Rectangle.png" alt="">
                    <p>Lorem ipsum dolor amet</p>
                </div>
                <div class="div__bottom-2">
                    <h2>876K</h2>
                    <img src="../storage/img/Rectangle.png" alt="">
                    <p>Lorem ipsum dolor amet</p>
                </div>
                <div class="div__bottom-3">
                    <h2>No.1</h2>
                    <img src="../storage/img/Rectangle.png" alt="">
                    <p>Lorem ipsum dolor amet</p>
                </div>
            </article>
        </section>
        <section class="section__container">
            <div class="div__brown"><img src="../storage/img/Bg brown.png" alt=""></div>
            <div class="div__portal-1"><img src="../storage/img/Portal-1.png" alt=""></div>
            <div class="div__yellow"><img src="../storage/img/bg yellow.png" alt=""></div>
            <div class="div__portal-2"><img src="../storage/img/Portal.png" alt=""></div>
            <div class="div__brown-star"><img src="../storage/img/brown-Star.png" alt=""></div>
            <div class="div__heart"><img src="../storage/img/Heart.png" alt=""></div>
            <div class="div__yellow-star"><img src="../storage/img/Star-yellow.png" alt=""></div>
            <div class="div__phone"><img src="../storage/img/phone.png" alt=""></div>
        </section>
    </main>
</body>
</html>