<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 6</title>
    <link rel="stylesheet" href="../css/stylePage6.css">
</head>
<body>
    <header class="header__top">
        <div class="div__top">
            <img src="../storage/img/Icons-watch.svg">
        </div>
    </header>        
    <main class="main">
        <section class="section__box">
            <h1>THE eWatch with the newest microchip technology</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            <article class="article__button">
                <div class="div__button-01">
                    <a href="#">Order now</a>
                </div>
                <div class="div__button-02">
                    <a href="#">Explore more</a>
                </div>
            </article>
        </section>
        <section class="section__bottom">
            <div class="div__icons">
                <img src="../storage/img/Icons-sun.svg" alt="">
                <img src="../storage/img/Icons-star.svg" alt="">
                <img src="../storage/img/Icons-eye.svg" alt="">
                <img src="../storage/img/Icons-world.svg" alt="">
            </div>
            <div class="div__paragraph">
                <p>Lorem ipsu dolor amet</p>
                <p>Lorem ipsu dolor amet</p>
                <p>Lorem ipsu dolor amet</p>
                <p>Lorem ipsu dolor amet</p>
            </div>
        </section>
        <section class="section__container">
            <div class="div__empty-box-1"></div>
            <div class="div__empty-box-2"></div>
            <div class="div__top-star"><img src="../storage/img/top-star.svg" alt=""></div>
            <div class="div__watch"><img src="../storage/img/watch.png" alt=""></div>
            <div class="div__design"><p>Ergonomic design</p></div>
            <div class="div__award"><p>Award winning productn</p></div>
            <div class="div__star-1"><img src="../storage/img/star.svg" alt=""></div>
            <div class="div__star-2"><img src="../storage/img/star.svg" alt=""></div>
        </section>
    </main>
</body>
</html>