<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 15</title>
    <link rel="stylesheet" href="../css/stylePage15.css">
</head>
<body>
    <main class="main">
        <section class="section__left">
            <div class="div__text">
                <h1>Adventure Voyage Wandering</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi.</p>
                <a href="#">Get started</a>
            </div>
            <div class="div__box-1">
                <div class="div__frame">
                    <img src="../storage/img/bottom-Frame.png" alt="">
                </div>
                <div class="div__frame-2">
                    <img src="../storage/img/bottom-Frame-2.png" alt="">
                </div>
            </div>
        </section>
        <section class="section__center">
            <div class="div__center-frame">
                <img src="../storage/img/center-Frame.png" alt="">
            </div>
            <div class="div__first-star">
                <img src="../storage/img/green-Star.png" alt="">
            </div>
            <div class="div__second-star">
                <img src="../storage/img/green-Star.png" alt="">
            </div>
        </section>
        <section class="section__right">
            <div class="div__box-2">
                <div class="div__top-frame">
                    <img src="../storage/img/top-Frame.png" alt="">
                </div>
                <div class="div__top-frame-2">
                    <img src="../storage/img/top-Frame-2.png" alt="">
                </div>
            </div>
            <div class="div__text-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi</p>
                <h1>Trave Explore Discover</h1>
            </div>
        </section>
    </main>
</body>
</html>