<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 2</title>
    <link rel="stylesheet" href="../css/stylePage2.css">
</head>
<body>
    <main class="main">
        <section class="section__top-left">
            <article class="article__top-left">
                <h1>Discover the beauty around the world</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
                <a href="#">Get started</a>
            </article>
            <article class="article__top-right">
                <div class="div__top-right">
                    <img src="../storage/img/forest-1.png">
                </div>
                <div class="div__top-right-2">
                    <img src="../storage/img/forest-2.png">
                </div> 
                </article>
        </section>
        <section class="section__bottom">
            <div class="div__01">
                <h2>01</h2>
                <img src="../storage/img/forest-box-1.png" alt="">
            </div>
            <div class="div__02">
                <h2>02</h2>
                <img src="../storage/img/forest-box-2.png" alt="">
            </div>
            <div class="div__03">
                <h2>03</h2>
                <img src="../storage/img/forest-box-3.png" alt="">
            </div>
        </section>
    </main>
</body>
</html>
